.colorConverter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

input {
  padding: 10px 20px;
  outline: none;
  text-align: center;
}

.hex-input {
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.rgb-input {
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
}
